<ul class="nav">
    <li class="nav-item">
        <a  class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >首页</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link" [routerLink]="['/product']" routerLinkActive="router-link-active" >房产贷款</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link" [routerLink]="['/product']" routerLinkActive="router-link-active" >汽车贷款</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link" [routerLink]="['/product']" routerLinkActive="router-link-active" >信用贷款</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link" [routerLink]="['/document']" routerLinkActive="router-link-active" >贷款攻略</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link" [routerLink]="['/mine']" routerLinkActive="router-link-active" >代理人</a>
    </li>
</ul>