:host{
    display: block;
    width: 792px;
    height: 193px;
    background: 
    url(/assets/tagline.png)    /* image */
    center center / 100% 100% /* position / size */
    no-repeat                /* repeat */
    #FFF ;                     /* color */
}